
<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Create a New Puppy</title>
  </head>
  <body>
    <h1>Create a New Puppy</h1>
    <form method="POST" action="/puppy">
       <label for="name"> Puppy Name</label>
       <input type="text" id="name" name="name">
       <label for="breed"> Puppy Breed</label>
       <input type="text" id="breed" name="breed">
       <label for="months_old"> Puppy Age</label>
       <input type="text" id="months_old" name="months_old">
      <p><button type="submit" value="submit">Submit</button></p>
    </form>
  </body>
</html>





