<!DOCTYPE HTML>
<html>
  <head>
    <title>New Puppy Post</title>
  </head>

  <body>
    <p>Puppy Name: <%= @puppy.name %></p>
    <p>Puppy Breed: <%= @puppy.breed %></p>
    <p>Puppy Age: <%= @puppy.months_old %> months</p>
  </body>

</html>
