<body>
  <p>Puppy Name: <%= @puppy.name %></p>
  <p>Puppy Breed: <%= @puppy.breed %></p>
  <p>Puppy Age: <%= @puppy.age %> months</p>
  <p><a href="/">Home</a></p>
  <p><a href="/new">Add Another Puppy</a></p>
</body>
