<form action="/puppy" method="post">
  <input type="text" name="name" id="name">
  <input type="text" name="breed" id="breed">
  <input type="number" name="age" id="age">
  <button type="submit">Submit</button>
</form>
